*~
*/src/Cargo.lock
/target
/stegos.toml
/stegos-log4rs.toml
/node_id.txt
logs/

# Keys
/*.pkey
/*.skey
/genesis*.bin
/password*.txt
/api_token.txt

# Test data
/testing/node*/data/chain/
/testing/node*/data/accounts/*/
/testing/node*/data/accounts/*.skey
/testing/node*/data/accounts/*.pkey
!/testing/node*/data/accounts/1.skey
!/testing/node*/data/accounts/1.pkey
/testing/node*/data/api.token
/data/

# IDE files
/.vscode
/.idea
/idea
