*~
*/src/Cargo.lock
/target
/stegos.toml
/stegos-log4rs.toml
/node_id.txt
logs/

# Keys
/*.pkey
/*.skey
/genesis*.bin
/password*.txt
/api_token.txt

# Test data
/testing/node*/database/
/database/
/testing/node*/wallet_db_path/
/wallet_db_path/

# IDE files
/.vscode
/.idea
/idea
