# See https://docs.rs/log4rs/0.8.3/log4rs/#configuration

refresh_rate = "30 seconds"

[appenders.console]
kind = "console"
[appenders.console.encoder]
pattern = "{d(%Y-%m-%d %H:%M:%S)(local)} {h({l})} [{t}] {m}{n}"
[[appenders.console.filters]]
kind = "threshold"
level = "debug"

[appenders.file]
    kind = "rolling_file"
    path = "logs/stegosd.log"
    policy.kind = "compound"

[appenders.file.policy.trigger]
    kind = "size"
    limit = "10Mb"
[appenders.file.policy.roller]
    kind = "fixed_window"
    base = 0
    count = 10
    pattern = "logs/stegosd.{}.log.gz"

[appenders.file.encoder]
pattern = "{d(%Y-%m-%d %H:%M:%S)(local)} {h({l})} [{t}] {m}{n}"
[[appenders.console.filters]]
kind = "threshold"
level = "trace"

[root]
level = "info"
appenders = ["console", "file"]

[loggers."stegosd"]
level = "debug"

[loggers."stegos_node"]
level = "debug"

[loggers."stegos_blockchain"]
level = "debug"

[loggers."stegos_network"]
level = "info"

[loggers."stegos_wallet"]
level = "info"

[loggers."stegos_api"]
level = "info"
