##
## Sample configuration file for Stegos
##
[general]
chain = "testnet"
log4rs_config = "stegos-log4rs.toml"
prometheus_endpoint = "0.0.0.0:9898"

[keychain]
# Path to wallet secret key
wallet_skey_file = "wallet.skey"
# Path to wallet public key
wallet_pkey_file = "wallet.pkey"
# Path to network secret key
network_skey_file = "network.skey"
# Path to network public key
network_pkey_file = "network.pkey"
# Path to wallet password file (use '-' for interactive prompt)
password_file = "-"
# Path to 24-word recovery phrase (use '-' for interactive prompt)
recovery_file = ""

[network]
# Local IP to bind to
bind_ip = "0.0.0.0"
# Local port to use for incoming connections
bind_port = 10203
# Advertise local active, non-loopback addresses
advertise_local_ips = true
# Advertise our addresses for incoming connections
advertised_addresses = [
    "/ip4/127.0.0.1/tcp/10050",
]
# Example of list of seed nodes
seed_nodes = [
    "/ip4/127.0.0.1/tcp/10050",
    "/ip4/127.0.0.1/tcp/10051",
]
# Path to Peers public key file in DER format
public_key = "testing/node01/public-key.der"
# Path to Peers private key file in PKCS8 format
private_key = "testing/node01/private-key.pk8"
# Topic name for Broadcast communications
broadcast_topic = "stegos"

[api]
# Local IP address to bind to
bind_ip = "0.0.0.0"
# Local IP port to bind to
bind_port = 3145
# Path to file to store API key
token_file = "api_token.txt"