##
## Sample configuration file for Stegos
##
[general]
# Chain: mainnet, testnet, devnet, dev.
chain = "testnet"
# Logger configuration.
log4rs_config = "stegos-log4rs.toml"
# Prometheus endpoint.
prometheus_endpoint = "127.0.0.1:9898"
# WebSocket API endpoint.
api_endpoint = "127.0.0.1:3145"
# Data directory (default is ~/.local/share/stegos)
data_dir = "./data"
# Force full validation (BP + BLS + VRF) of blockchain on recovery.
consistency_check = "full"

[network]
# Local IP to bind to
bind_ip = "0.0.0.0"
# Local port to use for incoming connections
bind_port = 10203
# Advertise local active, non-loopback addresses
advertise_local_ips = true
# Advertise our addresses for incoming connections
advertised_addresses = [
    "/ip4/127.0.0.1/tcp/10050",
]
# Example of list of seed nodes
seed_nodes = [
    "/ip4/127.0.0.1/tcp/10050",
    "/ip4/127.0.0.1/tcp/10051",
]
