
# For information on this file contents refer to documentation for lib4rs crate
refresh_rate = "30 seconds"

[appenders.console]
kind = "console"
[appenders.console.encoder]
pattern = "{d(%Y-%m-%d %H:%M:%S)(local)} [{t}] {h({l})} {M}:{m}{n}"
[[appenders.console.filters]]
kind = "threshold"
level = "debug"

[appenders.file]
kind = "file"
path = "logs/error.log"
[appenders.file.encoder]
pattern = "{d} [{t}] {l} {M}:{m}{n}"

[root]
level = "warn"
appenders = ["console"]

[loggers."stegos_network"]
level = "debug"
# appenders = ["console"]

# [loggers."stegos::network"]
# level = "error"
# appenders = ["file"]
# additive = false

