##
## Sample configuration file for Stegos
##
[general]
log4rs_config = "stegos-log4rs.toml"

[keychain]
# Path to a secret key in PEM format
skey = "stegos.skey"
# Path to a public key in PEM format
pkey = "stegos.pkey"

[network]
# Local IP to bind to
bind_ip = "0.0.0.0"
# Local port to use for incoming connections
bind_port = 10203
# Advertise local active, non-loopback addresses
advertise_local_ips = true
# Advertise our addresses for incoming connections
advertised_addresses = [
    "/ip4/127.0.0.1/tcp/10050",
]
# Example of list of seed nodes
seed_nodes = [
    "/ip4/127.0.0.1/tcp/10050",
    "/ip4/127.0.0.1/tcp/10051",
]
# Path to Peers public key file in DER format
public_key = "testing/node01/public-key.der"
# Path to Peers private key file in PKCS8 format
private_key = "testing/node01/private-key.pk8"
# Topic name for Broadcast communications
broadcast_topic = "stegos"
