[general]
chain = "dev"
log4rs_config = "stegos-log4rs.toml"
prometheus_endpoint = "127.0.0.1:{{ NODE_ID|int + 9890 }}"

[storage]
database_path = "testing/node{{NODE_ID}}/database"

[keychain]
password_file = "testing/node{{NODE_ID}}/password.txt"
wallet_skey_file = "testing/node{{NODE_ID}}/wallet.skey"
wallet_pkey_file = "testing/node{{NODE_ID}}/wallet.pkey"
network_skey_file = "testing/node{{NODE_ID}}/network.skey"
network_pkey_file = "testing/node{{NODE_ID}}/network.pkey"

[network]
bind_ip = "127.0.0.1"
bind_port = {{ NODE_ID|int + 10054 }}
advertise_local_ips = false
hashcash_nbits = 4
seed_nodes = [
{%- for k in range(NUM_KEYS|int) %}
{%- if 1+k|int != NODE_ID|int %}
    "/ip4/127.0.0.1/tcp/{{10055 + k|int}}",
{%- endif -%}
{%- endfor %}
]
advertised_addresses = [
    "/ip4/127.0.0.1/tcp/{{ NODE_ID|int + 10054 }}",
]

[api]
bind_ip = "127.0.0.1"
bind_port = {{ NODE_ID|int + 3144 }}
