[package]
name = "stegos_network"
version = "0.1.0"
authors = ["Stegos AG <info@stegos.cc>"]
build = "build.rs"

[dependencies]
bytes = "0.4.10"
env_logger = "0.5.13"
failure = "0.1.2"
failure_derive = "0.1.2"
fnv = "1.0.6"
futures = "0.1.25"
ipnetwork = "^0.12"
log = "0.4"
pnet = "0.21.0"
parking_lot = "0.6.4"
protobuf = "2.1.2"
rand = "0.5.5"
stegos_config = { path = "../config" }
tokio = "0.1.11"
tokio-codec = "0.1.1"
tokio-current-thread = "0.1.3"
tokio-io = "0.1.9"
tokio-stdin = "0.1.1"
unsigned-varint = "0.2.1"

libp2p = { git = "https://github.com/libp2p/rust-libp2p.git", rev = "e179951c74cb0c8916d27329f2dfd78917dddfb2" }

[dev-dependencies]
simple_logger = "1.0.1"

[build-dependencies]
protoc-rust = "2.1.4"
